body {
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.svg-wrapper {
    position: relative;
    top: 50%;
    transform: translateY(-20%);
    width: 300px;
    margin: 0;

}

.rectangle {
    stroke-dasharray: 100 540;
    stroke-dashoffset: -463;
    stroke-width: 10px;
    fill: transparent;
    stroke: #19f6e8;
    border-bottom: 5px solid black;
    transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}


.svg-wrapper:hover .rectangle {
    stroke-width: 6px;
    stroke-dashoffset: 0;
    stroke-dasharray: 760;
}

#dark img {
    box-shadow: -3px 5px 15px #000;
}

#dark img:hover {
    -moz-box-shadow: 0 0 5px #fff;
    -webkit-box-shadow: 0 0 5px #fff;
    box-shadow: 0px 0px 5px #fff;
    -webkit-transition: opacity .35s, -webkit-transform .35s;
    transition: opacity .35s, transform .35s;


}

.effect img {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -1px, 0);
    -webkit-transition: opacity .35s, -webkit-transform .35s;
    transition: opacity .35s, transform .35s;
}

.effect:hover img {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0) scale(1.1, 1.1);
    -webkit-transition-delay: .15s;
    transition-delay: .15s
}

@keyframes slide {
    from {
        background-position-x: 0;
    }

    to {
        background-position-x: 112px;
    }


}



.skills {
    border-radius: 10px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.skills-bar .bar .progress-line {
    position: relative;
    height: 16px;
    width: 500px;
    background: #0960a36b;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.bar .progress-line span {
    position: absolute;
    background-image: linear-gradient(to right, hsl(265.88deg 100% 80%), hsl(335, 100%, 65%));
    box-shadow: 0px 10px 40px -2px hsl(335, 100%, 65%);
    height: 100%;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.progress-line .html {
    width: 95%;
}

.progress-line .css {
    width: 95%;
}

.progress-line .tailwind {
    width: 90%;
}

.progress-line .bootstrap {
    width: 80%;
}

.progress-line .javascript {
    width: 50%;
}


.bar .progress-line span::before {
    position: absolute;
    content: "";
    height: 0;
    right: 0;
    top: -14px;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 100px;
    border-right-width: 0px;
}

.bar .progress-line span::after {
    position: absolute;
    right: 0;
    top: -28px;
    color: #f0f0f0;
    font-size: 12px;
    font-weight: 700;
    background: #066d96;
    padding: 1px 8px;
    border-radius: 100px;
}


.progress-line .html::after {
    content: "95%";
}

.progress-line .css::after {
    content: "95%";
}

.progress-line .tailwind::after {
    content: "90%";
}

.progress-line .bootstrap::after {
    content: "80%";
}

.progress-line .javascript::after {
    content: "50%";
}


/* ////........Media Query........//// */

@media (max-width: 700px) {
    .skills {
        width: 80%;
    }

    .skills-bar .bar .progress-line {
        width: 100%;
    }
}